
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    --clr-grey-400: hsl(212, 6%, 44%);
    --clr-grey-500: hsl(234, 12%, 34%);
    --clr-white: hsl(0, 0%, 100%);

    --fs: 15px;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --ff: "Poppins", sans-serif;

}



